*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* background: url('https://www.requalifica.net/images/pic02.gif'); */
  background-image: url('../img/sfondo2.gif');
  background-size: cover;
  background-position: center;
  font-family: 'Nunito', sans-serif;
}
#root {
  height: 100vh;
}



/* Scroll bar */
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  -webkit-border-radius: 5px;
  background-color: lightgrey;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #dc131e;
}
/* /Scroll bar */

/* Utilities */
.wrapper_80 {
  width: 80%;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
/* Header */
header {
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}
.header_content .nav_bar{
  display: flex;
  height: 100%;
}
.header_content .nav_bar img {
  height: 100%;
  margin-right: 25px;
}
.header_content .nav_bar ul {
  display: flex;
  align-items: center;
}
.header_content .nav_bar ul li {
  margin: 0 10px;
}
.header_content .nav_bar ul li a {
  transition: 0.3s;
}
.header_content .nav_bar ul li:hover a {
  color: #799491;
}

.header_content .cont_input {
  display: flex;
}
.header_content .cont_input input, .header_content .cont_input button {
  padding: 10px;
  border: 1px solid white;
  outline: none;
  background: none;
}
.header_content .cont_input input {
  border-right: none;
}
.header_content .cont_input input[placeholder] {
  color: white;
}
.header_content .cont_input button {
  color: #949493;
  cursor: pointer;
  border-left: none;
  transition: 0.5s;
}
.header_content .cont_input button:hover i {
  transform: scale(1.2);
}

/* Main */
main {
  display: flex;
  position: relative;
  padding: 50px 0;
  height: calc(100% - 70px);
  overflow: auto;
}

main .search_failed {
  margin: auto;
  padding: 20px;
  width: 50%;
  background: #151c1d;
  color: white;
}
.search_failed > * {
  margin: 10px 0;
}
.search_failed ul {
  list-style: inherit;
  padding-left: 30px;
}

main .search_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.search_content .card {
  position: relative;
  margin: 10px;
  width: 220px;
  height: 330px;
  background: #151c1d;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.8);
}

.search_content .card > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  transition: 0.5s;
}
.search_content .card:hover > img {
  opacity: 0;
  cursor: pointer;
}
.search_content .card .info {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  width: 100%;
  transition: 0.5s;
}
.search_content .card:hover .info {
  opacity: 1;
  cursor: pointer;
}
.search_content .card:hover {
  transform: scale(1.2);
  z-index: 999;
}
.search_content .card .info h4 {
  margin: 5px 0;
  color: white;
}
.search_content .card .info h4 > span {
  font-weight: 400;
  color: lightgrey;
}
.search_content .card .info h4 > span > i {
  color: #fcd503;
}
.search_content .card .info .flag {
  display: flex;
  align-items: center;
}
.search_content .card .info .flag h4 > img {
  height: 20px;
}
.search_content .card .info .overview {
  position: relative;
  max-height: 100px;
  overflow-y: auto;
  opacity: 0;
  transition: 0.5s;
}
.search_content .card:hover .overview {
  opacity: 1;
}
