*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url('../img/movie.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Nunito', sans-serif;
}
#root {
  height: 100vh;
}


/* Utilities */
.wrapper_80 {
  width: 80%;
  margin: auto;
}
h1 {
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
}
h2 {
  margin: 10px 0;
  padding-left: 10px;
  text-transform: uppercase;
  color: white;
  border-left: 5px solid #f70505;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* Scroll bar */
::-webkit-scrollbar {
  width:7px
}
::-webkit-scrollbar-track {
  background: #716f6f;
  border-radius: 10px
}
::-webkit-scrollbar-thumb {
  background: #d10000;
  border-radius: 10px
}
/* /Scroll bar */

/* transizione info del 'continua a guardare' */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(50px);
  opacity: 0;
}
/* /transizione info del continua a guardare */


/* Logo */
.css-text-mask {
  margin-right: 20px;
	font-size: 50px;
	font-family: 'Libre Barcode 128 Text', cursive;
  background-image: -webkit-linear-gradient(90deg, #B33434 5%, #f70505 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
}
/* /Logo */


/* Header */
header {
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}
.header_content .nav_bar{
  display: flex;
  align-items: center;
  height: 100%;
}
.header_content .nav_bar img {
  height: 100%;
  margin-right: 25px;
}
/* Nav Menu */
.header_content .nav_bar .nav_menu {
  display: flex;
  align-items: center;
}
.header_content .nav_bar .nav_menu ul.menu{
  display: flex;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.header_content .nav_bar .nav_menu ul.menu > li {
  min-width: 100px;
  padding:10px;
  text-align: center;
  transition: 0.6s;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
}
.header_content .nav_bar .nav_menu ul.menu > li:hover {
  color: lightgrey;
  border-top: 2px solid rgba(255, 0, 0, 0.5);
}
ul.menu li.fs_menu {
  position: relative;
}
ul.menu li.fs_menu > i {
  margin-left: 5px;
  font-size: 11px;
}
ul.menu li.fs_menu ul.sub_nav_menu {
  position: absolute;
  left: 0px;
  top: 40px;
  min-width: 100px;
  z-index: 5;
  text-align: center;
}
ul.menu li.fs_menu ul.sub_nav_menu > li {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: none;
  transition: 0.5s;
}
ul.menu li.fs_menu:hover ul.sub_nav_menu > li{
  display: block;
}
ul.menu li.fs_menu ul.sub_nav_menu > li:hover {
  background: rgba(80, 80, 80, 0.9);
  color: white;
  cursor: pointer;
}
/* /Nav Menu */
.header_content .cont_input {
  display: flex;
}
.header_content .cont_input input, .header_content .cont_input button {
  padding: 10px;
  border: 1px solid white;
  outline: none;
  background: none;
}
.header_content .cont_input input {
  border-right: none;
  transition: width 1s;
  width: 70px;
}
.header_content .cont_input input:hover {
  width: 250px;
}
.header_content .cont_input input[placeholder] {
  color: white;
}
.header_content .cont_input button {
  color: #949493;
  cursor: pointer;
  border-left: none;
}
.header_content .cont_input button:hover i {
  transform: scale(1.2);
}

/* Main */
main {
  /* display: flex; */
  padding: 30px 0;
  height: calc(100% - 70px);
  overflow: auto;
}

main .search_content {
  width: 95%;
  margin: 0 auto;
}

main .welcome {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
  height: 50%;
}

.search_content .welcome .look_now {
  display: flex;
  position: relative;
  width: 500px;
  height: 300px;
}
.search_content .welcome .look_now img {
  border-radius: 5px;
}
.search_content .welcome .look_now h5 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: inline-block;
  padding: 8px 20px;
  background: whitesmoke;
  border-radius: 5px;
  transition: 0.3s;
}
.search_content .welcome .look_now h5 span {
  margin-right: 10px;
}
.search_content .welcome .look_now h5:hover {
  background: #73949b;
  cursor: pointer;
}
.search_content .welcome .look_now span#more_info {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 25px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.search_content .welcome .look_now span#more_info:hover {
  color: rgba(80, 80, 80, 0.7);
}
.search_content .welcome .look_info {
  width: 700px;
}
.search_content .welcome .look_info #info {
  position: relative;
  margin-left: 20px;
  padding: 5px 20px;
  background: rgba(80, 80, 80, 0.9);
  border-radius: 5px;
}
.search_content .welcome .look_info #info > i {
  position:absolute;
  top: -3px;
  left: -13px;
  font-size: 40px;
  color: rgba(80, 80, 80, 0.9);
}
.search_content .welcome .look_info #info p {
  margin-bottom: 5px;
}
.search_content .welcome .look_info #info img {
  margin-bottom: 5px;
  width: 20px;
}
.search_content .welcome .look_info h4 {
  /* margin-top: 10px; */
  color: white;
}
.search_content .welcome .look_info p {
  color: lightgrey;
}
.search_content .welcome .look_info p i {
  margin-bottom: 5px;
  color: gold;
}

main .search_failed {
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  background: #151c1d;
  color: white;
}
.search_failed > * {
  margin: 10px 0;
}
.search_failed ul {
  list-style: inherit;
  padding-left: 30px;
}

.search_content .card {
  display: inline-block;
  position: relative;
  margin: 3px;
  width: 220px;
  height: 330px;
  /* width: 15%;
  height: 330px; */
  background: #151c1d;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.8);
  overflow-y: auto;
  white-space:normal;
  border-radius: 5px;
}

.search_content .card > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  transition: 0.5s;
  border-radius: 5px;
}
.search_content .card:hover > img {
  opacity: 0;
  cursor: pointer;
}
.search_content .card .info {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  width: 100%;
  transition: 0.5s;
  overflow-y: auto;
}
.search_content .card:hover .info {
  opacity: 1;
  cursor: pointer;
}
.search_content .card:hover {
  transform: scale(1.2);
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(88,88,88,0.8);
  box-shadow: 0px 0px 8px 3px rgba(88,88,88,0.8);
}
.search_content .card .info h4 {
  margin: 5px 0;
  color: white;
}
.search_content .card .info h4 > span {
  font-weight: 400;
  color: lightgrey;
}
.search_content .card .info h4 > span > i {
  color: #fcd503;
}
.search_content .card .info .flag span {
  margin-left: 5px;
}
.search_content .card .info .flag h4 > img {
  height: 20px;
  margin-left: 5px;
}
.search_content .card .info .overview {
  position: relative;
  max-height: 120px;
  overflow-y: auto;
  opacity: 0;
  transition: 0.5s;
}
.search_content .card:hover .overview {
  opacity: 1;
}
